<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://github.com/caoboiloi">
              Huỳnh Tấn Lợi
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        Copyright
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script> PANDAS-VOUCHER SHOP Inc. All rights reserved.
      </div>
    </div>
  </footer>