<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +849 72 71 58 56</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> loihuynh.it@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="https://www.facebook.com/a.tun262/"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/loihuynh262/"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/caoboiloi"><i class="fab fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 clearfix">
                    <div class="logo pull-left">
                        <a href="./"><img src="images\home\logo.png" alt="" width="120px"/></a>
                    </div>
                    <!-- <div class="btn-group pull-right clearfix">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                Việt Nam
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="">English</a></li>
                                <li><a href="">Japan</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                VNĐ
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="">USĐ</a></li>
                                <li><a href="">JPY</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-8 clearfix">
                    <div class="shop-menu clearfix pull-right">
                        <ul class="nav navbar-nav">
                            <% if (locals.user && user.type == 'Customer') { %>
                                <li><a href="./profile"><i class="fa fa-user"></i> Tài khoản</a></li>
                                <li><a href="./favorite"><i class="fa fa-star"></i> Ưa thích</a></li>
                                <li><a href="./payment"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
                                <li><a href="./cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                <li><a href="./login/logout"><i class="fa fa-lock"></i> Đăng xuất</a></li>
                            <% } else { %>
                                <li><a href="./login"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="./" class="active">Trang chủ</a></li>
                            <li class="dropdown"><a href="#">Pandas Voucher<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <% if (locals.user && user.type == 'Customer') { %>
                                    <li><a href="./profile">Tài khoản</a></li>
                                    <% } %>
                                    <% if (locals.user && user.type == 'Customer') { %>
                                    <li><a href="./favorite">Ưa thích</a></li>
                                    <li><a href="./payment">Thanh toán</a></li>
                                    <li><a href="./cart">Giỏ hàng</a></li>
                                    <% } else { %>
                                        <li><a href="./login">Đăng nhập</a></li>
                                    <% } %>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="./blog">Danh sách Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Tìm kiểm" class="keyword_search"/>
                        <span style="
                        position: absolute;
                        margin-left: -20px;
                        margin-top: 8px;
                        cursor: pointer;">
                            <a onclick="getLinkSearch(this)"><i class="fas fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header>